---
import aboutMeImage from '@assets/about-me.png';
import { Picture } from '@astrojs/image/components';
import Hero from '@components/Hero.astro';
import Icon from '@components/Icon.astro';
import type { Metadata } from '@components/SeoMeta.astro';
import { author } from '@data/author';
import BaseLayout from '@layouts/BaseLayout.astro';

const meta: Metadata = {
  title: author,
  description: `${author} is a skilled web engineer specializing in web technologies and the JavaScript ecosystem. He delivers innovative solutions for seamless user experiences.`,
};
---

<BaseLayout {meta}>
  <Hero />

  <section class="flex min-h-[calc(100vh-82px)] items-center">
    <div class="flex w-full flex-col-reverse lg:grid lg:grid-cols-2">
      <div class="bg-bermuda lg:w-[calc(100%+64px)] lg:bg-transparent">
        <Picture
          class="h-full w-full rounded-t-2xl object-cover lg:rounded-r-2xl"
          src={aboutMeImage}
          widths={[800, 1200, 1600]}
          sizes="(min-width: 1024px) 60vw, 100vw"
          aspectRatio="20:15"
          alt="Hiking tour in Tenerife"
        />
      </div>
      <div class="flex items-center bg-bermuda py-16 lg:translate-y-8 lg:rounded-l-2xl">
        <div class="px-4 sm:px-8 lg:max-w-[calc(var(--layout-container-max-width)/2)] lg:px-16">
          <h1 class="line-in flex animate-reveal flex-col font-sans">
            <span class="dot text-5xl font-bold md:text-4xl lg:text-6xl xl:text-7xl">About me</span>
          </h1>
          <p class="anim-delay-600 mb-8 animate-reveal">
            I'm a full-stack developer based in Budapest, Hungary, and I'm passionate about building
            digital services and creating innovative solutions.
          </p>
          <p class="anim-delay-600 mb-8 animate-reveal">
            Frontend development holds a special place in my heart, and I'm constantly motivated to
            expand my knowledge in this exciting field. I enjoy learning something new and getting
            feedback to make myself better and grow.
          </p>
          <p class="anim-delay-600 mb-0 animate-reveal">
            When I'm not online, I enjoy spending quality time with my family and friends, engaging
            in various board games that challenge my strategic thinking.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="relative flex min-h-screen items-center before:absolute before:left-1/2 before:top-1/2 before:z-[-1] before:aspect-[10/14] before:w-full before:-translate-x-1/2 before:-translate-y-1/2 before:bg-[url('../assets/logo-bg.svg')] before:bg-cover before:bg-no-repeat before:content-[''] lg:before:-translate-y-1/3"
  >
    <div
      class="container grid min-h-screen gap-16 py-16 md:min-h-[500px] md:grid-cols-2 lg:min-h-[650px]"
    >
      <div>
        <h1 class="line-in flex animate-reveal flex-col font-sans">
          <span class="dot text-5xl font-bold md:text-4xl lg:text-6xl xl:text-7xl">Engineering</span
          >
        </h1>
        <p>
          With over a decade of experience in product engineering and developing web applications
          and tools, I have the expertise to deliver fast, flexible, and reliable solutions that
          boast satisfactory performance and are well-optimized for scalability. Due to my interest
          in applied cryptography, ensuring the protection of sensitive data (e.g. PII) holds an
          essential role for me.
        </p>
      </div>
      <div class="self-end">
        <h1 class="line-in flex animate-reveal flex-col font-sans">
          <span class="dot text-5xl font-bold md:text-4xl lg:text-6xl xl:text-7xl">UX Design</span>
        </h1>
        <p>
          While I have an eye for design and occasionally design, my main focus is bringing those
          designs to life. This involves working with stylesheets, adjusting content, negative
          spaces and typography, and considering layout options. My top priority is creating a
          seamless user experience while solving real-world usability issues.
        </p>
      </div>
    </div>
  </section>

  <section class="container flex min-h-screen items-center">
    <div>
      <h1 class="line-in flex animate-reveal flex-col font-sans">
        <span class="dot text-5xl font-bold md:text-4xl lg:text-6xl xl:text-7xl">Experience</span>
      </h1>
      <div>
        <h2 class="font-serif font-semibold">
          Lead Engineer <span class="text-mint">@ Tresorit</span>
        </h2>
        <p class="font-mono text-sm">May 2013 - Present</p>
        <p class="mt-4">
          Over the past decade, I have had the opportunity to develop Tresorit's end-to-end
          encrypted cloud storage service. During this time, I have learned a lot about web
          technologies — especially in the field of cryptography — and have had the privilege of
          working alongside many talented engineers and creative people. My main responsibilities
          include the following tasks:
        </p>
        <ul class="mt-4 flex flex-col gap-4">
          <li class="arrow-list">
            Deliver high-quality, cryptographically secure and robust production code, while working
            with a broad array of innovation challenges, across various industries, typically in the
            Business-to-Business space,
          </li>
          <li class="arrow-list">
            Work alongside creative directors to lead the research, development, and architecture of
            technical solutions to fulfill business requirements,
          </li>
          <li class="arrow-list">
            Assess user needs by contacting them to gain a comprehensive understanding of their
            needs,
          </li>
          <li class="arrow-list">
            Collaborate with researchers, designers, project managers, and other engineers to
            transform creative concepts into production realities for clients and stakeholders,
          </li>
          <li class="arrow-list">
            Provide leadership within engineering department through close collaboration, knowledge
            shares, and mentorship.
          </li>
        </ul>
      </div>
    </div>
  </section>

  <section>
    <div class="container flex items-center py-16 sm:min-h-screen">
      <div>
        <h1 class="line-in flex animate-reveal flex-col font-sans">
          <span class="dot text-5xl font-bold md:text-4xl lg:text-6xl xl:text-7xl"
            >Technologies</span
          >
        </h1>
        <p>
          I love exploring new libraries, programing languages and frameworks. Here is a list of
          technologies that I have worked with at school, side projects and open source.
        </p>
        <div class="flex sm:gap-16 md:gap-32 lg:gap-48">
          <div class="flex w-full flex-col sm:w-auto sm:flex-none">
            <h2 class="mb-8 mt-16 font-serif font-medium">Favourite tech stack:</h2>
            <ul
              class="grid flex-1 grid-cols-2 place-items-center gap-8 sm:place-items-stretch sm:gap-x-16 lg:gap-x-24"
            >
              <li class="flex w-[80px] flex-col items-center">
                <Icon name="svelte-logo" aria-label="Svelte's logo" class="aspect-square" /><span
                  class="font-mono text-sm">Svelte</span
                >
              </li>
              <li class="flex w-[80px] flex-col items-center">
                <Icon name="typescript-logo" aria-label="Typescript's logo" class="aspect-square" />
                <span class="font-mono text-sm">Typescript</span>
              </li>
              <li class="flex w-[80px] flex-col items-center self-end">
                <Icon name="deno-logo" aria-label="Deno's logo" class="aspect-square" /><span
                  class="font-mono text-sm">Deno</span
                >
              </li>
              <li class="flex w-[80px] flex-col items-center self-end">
                <Icon name="rust-logo" aria-label="Rust's logo" class="aspect-square" /><span
                  class="font-mono text-sm">Rust</span
                >
              </li>
            </ul>
          </div>
          <div class="hidden flex-1 sm:block">
            <h2 class="mb-8 mt-16 font-serif font-medium">... and also love to work with:</h2>
            <ul class="grid grid-cols-4 gap-8">
              <li class="flex w-[40px] flex-col items-center">
                <Icon name="astro-logo" aria-label="Astro's logo" class="aspect-square" /><span
                  class="mt-2 font-mono text-sm">Astro</span
                >
              </li>
              <li class="flex w-[40px] flex-col items-center">
                <Icon name="angular-logo" aria-label="Angular's logo" class="aspect-square" /><span
                  class="mt-2 font-mono text-sm">Angular</span
                >
              </li>
              <li class="flex w-[40px] flex-col items-center">
                <Icon name="react-logo" aria-label="React's logo" class="aspect-square" /><span
                  class="mt-2 font-mono text-sm">React</span
                >
              </li>
              <li class="flex w-[40px] flex-col items-center">
                <Icon name="javascript-logo" aria-label="Javascript's logo" class="aspect-square" />
                <span class="mt-2 font-mono text-sm">Javascript</span>
              </li>

              <li class="flex w-[40px] flex-col items-center">
                <Icon name="html5-logo" aria-label="HTML5's logo" class="aspect-square" /><span
                  class="mt-2 font-mono text-sm">HTML5</span
                >
              </li>
              <li class="flex w-[40px] flex-col items-center">
                <Icon name="css-logo" aria-label="CSS's logo" class="aspect-square" /><span
                  class="mt-2 font-mono text-sm">CSS</span
                >
              </li>
              <li class="flex w-[40px] flex-col items-center">
                <Icon name="nodejs-logo" aria-label="Nodejs's logo" class="aspect-square" /><span
                  class="mt-2 font-mono text-sm">Nodejs</span
                >
              </li>
              <li class="flex w-[40px] flex-col items-center">
                <Icon name="bunjs-logo" aria-label="Bunjs's logo" class="aspect-square" /><span
                  class="mt-2 font-mono text-sm">Bunjs</span
                >
              </li>

              <li class="flex w-[40px] flex-col items-center">
                <Icon
                  name="tailwind-logo"
                  aria-label="Tailwind's logo"
                  class="aspect-square"
                /><span class="mt-2 font-mono text-sm">Tailwind</span>
              </li>
              <li class="flex w-[40px] flex-col items-center">
                <Icon name="figma-logo" aria-label="Figma's logo" class="aspect-square" /><span
                  class="mt-2 font-mono text-sm">Figma</span
                >
              </li>
              <li class="flex w-[40px] flex-col items-center">
                <Icon
                  name="playwright-logo"
                  aria-label="Playwright's logo"
                  class="aspect-square"
                /><span class="mt-2 font-mono text-sm">Playwright</span>
              </li>
              <li class="flex w-[40px] flex-col items-center">
                <Icon name="python-logo" aria-label="Python's logo" class="aspect-square" /><span
                  class="mt-2 font-mono text-sm">Python</span
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
