---
import Link from '@components/Link.astro';
import type { Metadata } from '@components/SeoMeta.astro';
import { author } from '@data/author';
import BaseLayout from '@layouts/BaseLayout.astro';

const meta: Metadata = {
  title: author,
  description: `${author} is a skilled web engineer specializing in web technologies and the JavaScript ecosystem. Peter delivers innovative solutions for seamless user experiences.`,
};
---

<BaseLayout {meta}>
  <h1>Astro</h1>
  <p>Content</p>
  <Link href="/" target="_blank" aria-label="open something" noRecommendation>Sample</Link>
</BaseLayout>
