---
import aboutMeImage from '@assets/about-me.png';
import { Picture } from 'astro:assets';
import Button from '@components/Button.astro';
import Hero from '@components/Hero.astro';
import Icon from '@components/Icon.astro';
import Link from '@components/Link.astro';
import type { Metadata } from '@components/SeoMeta.astro';
import { author } from '@data/author';
import BaseLayout from '@layouts/BaseLayout.astro';

const meta: Metadata = {
  title: author,
  description: `${author} is a skilled web engineer specializing in web technologies and the JavaScript ecosystem. He delivers innovative solutions for seamless user experiences.`,
};
---

<BaseLayout {meta}>
  <Hero />

  <section class="flex min-h-[calc(100vh-82px)] items-center">
    <div class="flex w-full flex-col-reverse lg:grid lg:grid-cols-2">
      <div class="bg-bermuda lg:w-[calc(100%+64px)] lg:bg-transparent">
        <Picture
          class="shadow-default h-full w-full rounded-t-2xl object-cover lg:rounded-r-2xl"
          src={aboutMeImage}
          widths={[800, 1200, 1600]}
          sizes="(min-width: 1024px) 60vw, 100vw"
          alt="Hiking tour in Tenerife"
        />
      </div>
      <div
        class="shadow-default flex items-center bg-bermuda py-16 lg:translate-y-8 lg:rounded-l-2xl"
      >
        <div class="px-4 sm:px-8 lg:max-w-[calc(var(--layout-container-max-width)/2)] lg:px-16">
          <h1 class="line-in flex animate-reveal flex-col font-sans">
            <span class="dot text-5xl font-bold md:text-4xl lg:text-6xl xl:text-7xl">About me</span>
          </h1>
          <p class="anim-delay-600 mb-8 animate-reveal">
            I'm a full-stack developer based in Budapest, Hungary, and I'm passionate about building
            digital services and creating innovative solutions.
          </p>
          <p class="anim-delay-600 mb-8 animate-reveal">
            Frontend development holds a special place in my heart, and I'm constantly motivated to
            expand my knowledge in this exciting field. I enjoy learning something new and getting
            feedback to make myself better and grow.
          </p>
          <p class="anim-delay-600 mb-0 animate-reveal">
            When I'm not online, I enjoy spending quality time with my family and friends, engaging
            in various board games that challenge my strategic thinking.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section
    class="relative flex min-h-screen items-center before:absolute before:left-1/2 before:top-1/2 before:z-[-1] before:aspect-[10/14] before:w-full before:-translate-x-1/2 before:-translate-y-1/2 before:bg-[url('../assets/logo-bg.svg')] before:bg-cover before:bg-no-repeat before:content-[''] lg:before:-translate-y-1/3"
  >
    <div
      class="container grid min-h-screen gap-16 py-16 md:min-h-[500px] md:grid-cols-2 lg:min-h-[650px]"
    >
      <div>
        <h1 class="line-in flex animate-reveal flex-col font-sans">
          <span class="dot text-5xl font-bold md:text-4xl lg:text-6xl xl:text-7xl">Engineering</span
          >
        </h1>
        <p>
          With over a decade of experience in product engineering and developing web applications
          and tools, I have the expertise to deliver fast, flexible, and reliable solutions that
          boast satisfactory performance and are well-optimized for scalability. Due to my interest
          in applied cryptography, ensuring the protection of sensitive data (e.g. PII) holds an
          essential role for me.
        </p>
      </div>
      <div class="self-end">
        <h1 class="line-in flex animate-reveal flex-col font-sans">
          <span class="dot text-5xl font-bold md:text-4xl lg:text-6xl xl:text-7xl">UX Design</span>
        </h1>
        <p>
          While I have an eye for design and occasionally design, my main focus is bringing those
          designs to life. This involves working with stylesheets, adjusting content, negative
          spaces and typography, and considering layout options. My top priority is creating a
          seamless user experience while solving real-world usability issues.
        </p>
      </div>
    </div>
  </section>

  <section class="container flex min-h-screen items-center">
    <div>
      <div>
        <h1 class="line-in flex animate-reveal flex-col font-sans">
          <span class="dot text-5xl font-bold md:text-4xl lg:text-6xl xl:text-7xl">Experience</span>
        </h1>
        <div>
          <h2 class="font-serif font-semibold">
            Lead Engineer <span class="text-mint">@ Tresorit</span>
          </h2>
          <p class="font-mono text-sm">May 2013 - Present</p>
          <p class="mt-4">
            Over the past decade, I have had the opportunity to develop Tresorit's end-to-end
            encrypted cloud storage service. During this time, I have learned a lot about web
            technologies — especially in the field of cryptography — and have had the privilege of
            working alongside many talented engineers and creative people. My main responsibilities
            include the following tasks:
          </p>
          <ul class="mt-4 flex flex-col gap-4">
            <li class="arrow-list">
              Deliver high-quality, cryptographically secure and robust production code, while
              working with a broad array of innovation challenges, across various industries,
              typically in the Business-to-Business space,
            </li>
            <li class="arrow-list">
              Work alongside creative directors to lead the research, development, and architecture
              of technical solutions to fulfill business requirements,
            </li>
            <li class="arrow-list">
              Assess user needs by contacting them to gain a comprehensive understanding of their
              needs,
            </li>
            <li class="arrow-list">
              Collaborate with researchers, designers, project managers, and other engineers to
              transform creative concepts into production realities for clients and stakeholders,
            </li>
            <li class="arrow-list">
              Provide leadership within engineering department through close collaboration,
              knowledge shares, and mentorship.
            </li>
          </ul>
        </div>
      </div>

      <div class="md:shadow-default mt-8 w-full rounded-2xl md:mt-32">
        <div
          class="z-1 relative flex h-full flex-col justify-between rounded-2xl md:flex-row md:bg-bermuda"
        >
          <div class="flex flex-1 flex-col justify-center py-8 md:w-[40%] md:p-8 lg:w-1/2 lg:p-16">
            <h2 class="line-in flex animate-reveal flex-col font-sans">
              <span class="dot text-3xl font-bold">Technologies</span>
            </h2>
            <p>
              I enjoy discovering new libraries, programming languages, and frameworks. See the
              palette of technologies I have worked with throughout my professional career, side
              projects, and open source contributions.
            </p>
          </div>

          <div
            class="shadow-default overflow-hidden rounded-2xl bg-bermuda md:w-[60%] md:rounded-l-none md:rounded-r-2xl md:bg-none md:shadow-none lg:w-1/2"
          >
            <div
              class="relative -top-[180px] right-8 flex max-h-[480px] flex-wrap md:-right-1 md:p-8"
              style="transform: rotate(-15deg) translateZ(10px);"
            >
              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 75ms"
                >
                  <Icon
                    name="html5-logo"
                    aria-label="HTML5's logo"
                    class="aspect-square w-16"
                  /><span class="mt-2 font-mono text-sm">HTML5</span>
                </div>
              </div>
              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 150ms"
                >
                  <Icon name="css-logo" aria-label="CSS's logo" class="aspect-square w-16" /><span
                    class="mt-2 font-mono text-sm">CSS</span
                  >
                </div>
              </div>
              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 225ms"
                >
                  <Icon
                    name="tailwind-logo"
                    aria-label="Tailwind's logo"
                    class="aspect-square w-16"
                  /><span class="mt-2 font-mono text-sm">Tailwind</span>
                </div>
              </div>

              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 300ms"
                >
                  <Icon
                    name="svelte-logo"
                    aria-label="Svelte's logo"
                    class="aspect-square w-16"
                  /><span class="mt-2 font-mono text-sm">Svelte</span>
                </div>
              </div>
              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 375ms"
                >
                  <Icon
                    name="astro-logo"
                    aria-label="Astro's logo"
                    class="aspect-square w-16"
                  /><span class="mt-2 font-mono text-sm">Astro</span>
                </div>
              </div>
              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 450ms"
                >
                  <Icon
                    name="angular-logo"
                    aria-label="Angular's logo"
                    class="aspect-square w-16"
                  /><span class="mt-2 font-mono text-sm">Angular</span>
                </div>
              </div>

              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 525ms"
                >
                  <Icon
                    name="react-logo"
                    aria-label="React's logo"
                    class="aspect-square w-16"
                  /><span class="mt-2 font-mono text-sm">React</span>
                </div>
              </div>
              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 600ms"
                >
                  <Icon
                    name="typescript-logo"
                    aria-label="TypeScript's logo"
                    class="aspect-square w-16"
                  /><span class="mt-2 font-mono text-sm">TypeScript</span>
                </div>
              </div>
              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 675ms"
                >
                  <Icon
                    name="javascript-logo"
                    aria-label="JavaScript's logo"
                    class="aspect-square w-16"
                  /><span class="mt-2 font-mono text-sm">JavaScript</span>
                </div>
              </div>

              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 750ms"
                >
                  <Icon name="rust-logo" aria-label="Rust's logo" class="aspect-square w-16" /><span
                    class="mt-2 font-mono text-sm">Rust</span
                  >
                </div>
              </div>
              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 825ms"
                >
                  <Icon name="deno-logo" aria-label="Deno's logo" class="aspect-square w-16" /><span
                    class="mt-2 font-mono text-sm">Deno</span
                  >
                </div>
              </div>
              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 900ms"
                >
                  <Icon
                    name="nodejs-logo"
                    aria-label="Node.js's logo"
                    class="aspect-square w-16"
                  /><span class="mt-2 font-mono text-sm">Node.js</span>
                </div>
              </div>

              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 975ms"
                >
                  <Icon
                    name="playwright-logo"
                    aria-label="Playwright's logo"
                    class="aspect-square w-16"
                  /><span class="mt-2 font-mono text-sm">Playwright</span>
                </div>
              </div>
              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 1050ms"
                >
                  <Icon
                    name="python-logo"
                    aria-label="Python's logo"
                    class="aspect-square w-16"
                  /><span class="mt-2 font-mono text-sm">Python</span>
                </div>
              </div>
              <div class="w-1/3">
                <div
                  class="shadow-default m-2 flex animate-bubble flex-col items-center rounded-xl border border-mint bg-white-ice p-6"
                  style="animation-delay: 1125ms"
                >
                  <Icon
                    name="figma-logo"
                    aria-label="Figma's logo"
                    class="aspect-square w-16"
                  /><span class="mt-2 font-mono text-sm">Figma</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="mt-16 grid min-h-screen grid-rows-2 sm:grid-cols-2 sm:grid-rows-none md:mt-32">
    <div
      class="flex flex-col items-center justify-center bg-indigo-800 px-4 text-center text-white sm:px-8 lg:px-16"
    >
      <h2 class="line-in centered flex animate-reveal flex-col font-sans">
        <span class="dot text-3xl font-bold">I craft and design stuff</span>
      </h2>
      <p>Open source projects, web apps and experiments.</p>
      <Button href="/projects/" class="anim-delay-900 mt-8 animate-reveal">See my projects</Button>
    </div>
    <div class="flex flex-col items-center justify-center px-4 text-center sm:px-8 lg:px-16">
      <h2 class="line-in centered flex animate-reveal flex-col font-sans">
        <span class="dot text-3xl font-bold">I write, <em>sometimes</em></span>
      </h2><p>About software engineering, frontend dev and learning.</p>
      <Button href="/blog/" class="anim-delay-900 mt-8 animate-reveal">Read my blog</Button>
    </div>
  </section>

  <section class="container flex min-h-screen items-center">
    <section class="grid grid-rows-2 items-center sm:grid-cols-2 sm:grid-rows-none">
      <div>
        <h1 class="line-in flex animate-reveal flex-col font-sans">
          <span class="dot text-5xl font-bold md:text-4xl lg:text-6xl xl:text-7xl"
            >Get in touch</span
          >
        </h1>
        <p>
          Although I'm not actively seeking new opportunities at the moment, I’m always up for a
          chat. Pop me an <Link href="mailto:peterbartha@pm.me" target="_blank">email</Link>, give
          me a shout on <Link href="https://twitter.com/pbartha7" target="_blank">
            social media
          </Link> or just 👋 and write me a few friendly lines in the
          <Link href="/guestbook/">guestbook</Link>.
        </p>

        <div class="mt-8">
          <Button href="mailto:peterbartha@pm.me" class="anim-delay-900 animate-reveal">
            Say hello
          </Button>
          <Button href="/guestbook/" class="anim-delay-900 ml-4 animate-reveal" secondary>
            Guestbook
          </Button>
        </div>
      </div>
      <div class="overflow-hidden">
        <div class="relative ml-auto mr-auto aspect-square w-[300px] md:mr-0 md:w-[400px]">
          <div
            class="anim-delay-300 anim-duration-3 absolute top-[14%] h-2 w-32 animate-swish bg-white opacity-0"
          >
          </div>
          <div
            class="anim-delay-600 anim-duration-1 absolute top-[25%] h-2 w-12 animate-swish bg-white opacity-0"
          >
          </div>
          <div
            class="anim-delay-1500 anim-duration-3 absolute top-[40%] h-2 w-20 animate-swish bg-white opacity-0"
          >
          </div>
          <div
            class="anim-delay-900 anim-duration-2 absolute top-[48%] h-2 w-20 animate-swish bg-white opacity-0"
          >
          </div>
          <div
            class="anim-delay-300 anim-duration-3 h12 absolute top-[60%] w-8 animate-swish bg-white opacity-0"
          >
          </div>
          <div
            class="anim-delay-1500 anim-duration-2 absolute top-[75%] h-2 w-24 animate-swish bg-white opacity-0"
          >
          </div>
          <div
            class="anim-delay-900 anim-duration-3 absolute top-[87%] h-2 w-32 animate-swish bg-white opacity-0"
          >
          </div>
          <Link
            href="mailto:peterbartha@pm.me"
            target="_blank"
            class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
            custom
          >
            <Icon name="email" class="w-[120px] md:w-[200px]" />
          </Link>
          <Link
            href="https://twitter.com/pbartha7"
            target="_blank"
            class="anim-delay-900 absolute left-[5%] top-[20%] animate-wobble"
            custom
          >
            <Icon name="twitter-logo" width="48" />
          </Link>
          <Link
            href="/rss.xml"
            target="_blank"
            class="absolute left-[75%] top-[10%] animate-wobble-reverse"
            custom
          >
            <Icon name="rss-logo" width="48" />
          </Link>
          <Link
            href="https://www.linkedin.com/in/barthapeter/"
            target="_blank"
            class="absolute left-[7%] top-[80%] animate-wobble"
            custom
          >
            <Icon name="linkedin-logo" width="48" />
          </Link>
          <Link
            href="https://github.com/peterbartha"
            target="_blank"
            class="anim-delay-900 absolute left-[80%] top-[70%] animate-wobble-reverse"
            custom
          >
            <Icon name="github-logo" width="48" />
          </Link>
        </div>
      </div>
    </section>
  </section>
</BaseLayout>
