---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<'a'> {
  noRecommendation?: boolean;
}

const { noRecommendation = false, href, target, ...props } = Astro.props;
const rel =
  target === '_blank' ? `noopener noreferrer${noRecommendation ? ' nofollow' : ''}` : null;
const pathname = typeof href === 'string' ? href : href?.pathname;
let isActive = false;
if (
  !href ||
  (typeof href !== 'string' && href.origin !== Astro.site?.origin) ||
  (href as string).startsWith('http')
) {
  isActive = false;
} else if ((href as string) === '/' || (href as URL).pathname === '/') {
  isActive = pathname === Astro.url.pathname;
} else {
  isActive = Astro.url.pathname.startsWith(pathname!);
}
---

<a
  {href}
  {target}
  {rel}
  aria-current={isActive ? 'page' : undefined}
  {...props}
  class="bg-size inline bg-gradient-to-b from-transparent from-70% via-bermuda-300 via-70% to-bermuda-300 bg-[length:0_0] bg-left-bottom bg-no-repeat font-semibold no-underline shadow-[0_2px_0px_0px_#fff] shadow-bermuda-300/100 ease-[cubic-bezier(0.645,0.045,0.355,1)] hover:bg-[length:100%_100%] hover:text-indigo-900 hover:transition-[background-size,color] hover:duration-500"
>
  <slot />
</a>
